---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://theunchainedgirl.com/</loc>
    <changefreq>daily</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>https://theunchainedgirl.com/about/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://theunchainedgirl.com/contact/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://theunchainedgirl.com/privacy-policy/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.5</priority>
  </url>
  <url>
    <loc>https://theunchainedgirl.com/terms/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.5</priority>
  </url>
  {%- for post in collections.posts %}
  <url>
    <loc>https://theunchainedgirl.com{{ post.url }}</loc>
    <lastmod>{{ post.date | dateDisplay }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.9</priority>
  </url>
  {%- endfor %}
</urlset>
